<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895495224145-m99ksu0j1hondu4c8fndodp8001kvrr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895495224145-m99ksu0j1hondu4c8fndodp8001kvrr6</string>
	<key>API_KEY</key>
	<string>AIzaSyAaOw5vyGYke6T3RvgkoQkXkd6ozkE0X0M</string>
	<key>GCM_SENDER_ID</key>
	<string>895495224145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CYDev.Canary</string>
	<key>PROJECT_ID</key>
	<string>kanarek-9ed79</string>
	<key>STORAGE_BUCKET</key>
	<string>kanarek-9ed79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895495224145:ios:dad77f788195f07ba8f170</string>
</dict>
</plist>